.bod{
    color: white;
    background-color: black;
  }
  .hacker
  {
    border-color : aqua;
    border-width: 5px;
    border-style: solid;
    margin-left: 10%;
    text-align: center;
    display: inline-block;
  }
  .hacker :hover{
    color: white;
    cursor: pointer;
  }
  .hacker2{
    display: inline-block;
    border-color: aqua;
    border-width: 5px;
    border-style: solid;
    margin-left: 30%;
    text-align: center;
  }
  .hacker2 :hover{
    color: white;
    cursor: pointer;
  }